<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white is-size-1 is-uppercase has-text-weight-bold">
        <img src="https://cdn.scyted.tv/website-assets/website/gc-logo.png" style="width: 50%;" alt="Game Changer Fan Theories">
      </h1>
      <h3 class="title has-text-white is-size-6 has-text-weight-bold">
        We are not affiliated with Dropout or Game Changer in any way. This is just a fan-made theorist blog for Game Changer.
      </h3>
      <hr>
      <a href="{{site.url}}{{site.baseurl}}/blog"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Read More</a>
      </a>
      <a href="{{site.url}}{{site.baseurl}}/blog/etiquette"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Etiquette</a>
      </a>
    </div>
  </div>
</section>